# Binaries
*.exe
*.out
*.so
*.dll

# Go Modules
go.sum
go.mod~

# Compiled object files
*.o
*.a

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# Logs and temp files
*.log
*.tmp
*.cache
*.bak

# Vendor directory (if not using Go modules)
vendor/

# Test binary files
*.test

# Environment files
.env
